.DS_Store
Thumbs.db
.comments/
.idea/
.vscode/
.env
.env.*
!.env.example
vendor/
node_modules/
Playmart/public/build/
Playmart/public/hot
Playmart/public/storage
Playmart/storage/*.key
Playmart/storage/logs/*.log
Playmart/storage/framework/cache/data/*
Playmart/storage/framework/sessions/*
Playmart/storage/framework/testing/*
Playmart/storage/framework/views/*
Playmart/bootstrap/cache/*.php
!Playmart/storage/**/.gitignore
!Playmart/bootstrap/cache/.gitignore
.phpunit.result.cache
.pest.result.cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
